<div class="container">
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-6">
        <h1>List of Friends</h1>
        <br>
        <% listedFriends.forEach(friend => { %>
        <h5>
            <%= friend.name %>
        </h5>
        
        <p>

            Major: <%= friend.major %>
        </p>
      
        <p>
            
            Hobby: <%= friend.hobby %>
        </p>
      

        <% }); %>
    </div>

</div>