<!DOCTYPE html>
<html>

<head>
  <title>
    BAS Homepage
  </title>
</head>

<style>
  h1 {
    background: gray;
  }
.backerC{
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.midder{
  text-align: center;
}

</style>
<link href="css/homepage.css" rel="stylesheet">

<body>
  <header>
    <div  class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">BAS Homepage</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Explore</a>
            <a class="nav-link" href="#">My Profile</a>
            <a class="nav-link" href="#">Messages</a>
          </nav>
        </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </header>
  

 
   


  <div class="col boxOutline" class="row" style="text-align: center;">
    <h5>New Post:</h5>
    <br>



    <h4 class="display-1">Recent Posts</h4>
    <div class="container overflow-hidden">
    </div>
    <div class="row gy-5">
    </div>
    <div class="col-14">
      <div class="p-3 border bg-light">
        
        
      </div>
    </div>
    <br>

    <div class="col">
      <h4 class="display-1">Friends</h4>
      <div class="container overflow-hidden">
      </div>
      <div class="row gy-5">
      </div>
      <div class="col-14">
        <div class="p-3 border bg-light">No friends :(</div>
        <br>
      </div>
      
    </div>
  </div>


</body>



</html>