<div class="container">
   
    <div class="col-sm-6">
        <h1>Welcome to BAS</h1>
        <p>This is a test page which is currently underdevelopment.</p>
        <p>If you are a returning user, click <a href="/signin"> here</a></p>
        <p>If you are a new users, click <a href="/signup"> here</a></p>
    </div>

    
</div>