<div class="container">
   
    <div class="col-sm-6">
        <h1>Welcome to BAS</h1>
        <p>This is a test page which is currently underdevelopment.</p>
        <p>If you want to see a new users, click <a href="/users"> the course page</a></p>
    </div>

    
</div>