<div class="container">
   
    <div class="col-sm-6">
        <h1>Welcome to BAS</h1>
        <p>This is a test page which is currently underdevelopment.</p>
        <p>If you are a new user, <a href="/signup"> click this link.</a></p>
    </div>

    
</div>