<div class="container">
   
    <div class="col-sm-6">
    
        <h4>Log in, or sign up using the links below:</h4>
        <br>
        <p>Click this link to <a href="/signin"> sign in</a></p>
        <p>If you are a new user, <a href="/signup"> click this link.</a></p>
    </div>

    
</div>