<!DOCTYPE html>>
<html>
<head>
    <title>
        Welcome to BAS 
    </title>
    <link rel="stylesheet" href="/Styles/bas.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="nav">

        <div class="col-sm nav-align">
            <h1> Welcome to BAS </h1>
        </div>
        <div class="col-sm nav-align">
            <a href="signup.html">
                <span class="button">Sign-up</span>
            </a>
            <a href="signin.html">
                <span class="button">Sign-in</span>
            </a>
        </div>
    </div>
    <%- body%>
</body>

</html>