<div class="container">
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-6">
        <h1>Notifications</h1>
        <br>
        <% listedFriends.forEach(friend => { %>
        <h5>
            <%= friend.name %>
        </h5>
        
        <p>

            Major: <%= friend.major %>
        </p>
      
        <p>
            
            Hobby: <%= friend.hobby %>
        </p>
      

        <% }); %>
    </div>

    <h1>Posts</h1>
        <% posts.forEach(post => { %>
        <h5>
            <%= post.description %>
        </h5>
        <% }); %>

</div>