<form class="form-signin" action="/users/login" method="POST">
    <h2>Login:</h2>
    <label for="txtUsername">Username</label>
    <input type="text" name="username" id="txtUsername" class="form-control" placeholder="username101" required>
    <label for="txtPassword">Password:</label>
    <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password" required>

    <button type="submit" class="btn btn-lg btn-primary">Login</button>
</form>