<h2 class="center">post Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title of post</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% posts.forEach(post => { %>
            <tr>
                
                <td>
                    <%= post.description %>
                </td>
                <td>
                    <a href="<%= `post/${post._id}/edit` %>">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="<%= `post/${post._id}/delete?_method=DELETE` %>" onclick="return confirm(`Are you sure?`)">
                        Delete
                    </a>
                </td>
            </tr>
       <% }) %>
    </tbody>
</table>