<h2 class="center">Post Data</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Description</td>
            <td>
                <%= post.description %>
            </td>
        </tr>
      
       

    </tbody>
</table>